<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:adwords_settings) %>
<% end %>

<table data-hook="preferences">
  <% @preferences.each do |key| %>
    <tr>
      <td scope="row"><%= t(key) %>:</td>
      <td><%= Spree::Config[key] %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to_with_icon 'edit', t(:edit), edit_admin_adwords_settings_path, :id => 'admin_adwords_settings_link' %></p>
